{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Корзина</h1>

    Товары
    {% for product in products %}
        <ul>
            <li>
                {{ product.getOfferId().name }}
                {{ product.getOfferId().price }} рублей
                {{ product.getOfferId().picture }}

                <div>
                    <a href="/cart/plus/{{ product.getOfferId().id }}">+</a>
                    {{ product.count }}
                    <a href="/cart/minus/{{ product.getOfferId().id }}">-</a>
                </div>
                {{ product.getOfferId().price * product.count }}
            </li>
        </ul>
    {% endfor %}
    <div>Итоговая стоимость: {{ totalPrice }} <button>Оформить заказ</button></div>
    {% include 'base/footer.html.twig' %}
</div>
{% endblock %}
