{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Корзина</h1>

    Товары
    {% for offer in offers %}
        <ul>
            <li>
                <a href="/product/{{ offer.getOfferId().getProduct().id }}">{{ offer.getOfferId().name }}</a>
                {{ offer.getOfferId().price }} рублей
                {{ offer.getOfferId().picture }}

                <div>
                    <a href="/cart/plus/{{ offer.getOfferId().id }}">+</a>
                    {{ offer.count }}
                    <a href="/cart/minus/{{ offer.getOfferId().id }}">-</a>
                </div>
                {{ offer.getOfferId().price * offer.count }}
            </li>
        </ul>
    {% endfor %}
    <div>Итоговая стоимость: {{ totalPrice }} <button>Оформить заказ</button></div>
    {% include 'base/footer.html.twig' %}
</div>
{% endblock %}
