{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    {{ form_start(registrationForm) }}
                                    <form method="post" class="section text-center">
                                        <h4 class="mb-4 pb-3">Регистрация</h4>
                                        
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-style', 'placeholder': 'Введите email'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-style', 'placeholder': 'Введите пароль'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-style', 'placeholder': 'Введите фамилию'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.firstname, {'attr': {'class': 'form-style', 'placeholder': 'Введите имя'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.patronymic, {'attr': {'class': 'form-style', 'placeholder': 'Введите отчество'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.phone, {'attr': {'class': 'form-style', 'placeholder': 'Введите номер телефона'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            Введите дату рождения
                                            {{ form_widget(registrationForm.birthdate, {'attr': {'class': ''},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            Выберите пол
                                            {{ form_widget(registrationForm.sex, {'attr': {'class': '', 'placeholder': 'Выберите пол'},}) }}
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': '', 'placeholder': 'Введите номер телефона'},}) }}
                                        </div>
                                        <button type="submit" class="btn mt-4 header-nav-site text-decoration-none text-dark text-uppercase">Зарегистрироваться</button>                                    
                                        </form>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
