<header>

    <div class="container-fluid">
        <p class="fs-1 text-center pt-3 pb-3 fw-bold">Khalif</p>
        <ul class="row align-items-center mx-auto text-center fs-5">

            <li class="col">
                <a href="{{ path('app_home') }}" class="header-nav-site text-decoration-none text-dark text-uppercase">главная</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="col">
                    <a href="{{ path('app_home') }}" class="header-nav-site text-decoration-none text-dark text-uppercase">личный кабинет</a>
                </li>
                <li class="col">
                    <a href="{{ path('app_home') }}" class="header-nav-site text-decoration-none text-dark text-uppercase">выйти</a>
                </li>
            {% else %}
            <li class="col">
                <a href="{{ path('app_register') }}" class="header-nav-site text-decoration-none text-dark text-uppercase">зарегистрироваться</a>
            </li>
            <li class="col">
                <a href="{{ path('app_login') }}" class="header-nav-site text-decoration-none text-dark text-uppercase">войти</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="container-fluid">
        <ul
                class="row align-items-center mx-auto text-center bg-dark fs-4 mb-0"
        >
            {% for section in header %}
                <li class="col">
                    {% if section.children %}
                        <div class="dropdown">
                            <button
                                    class="nav-button btn text-white btn-lg dropdown-toggle"
                                    type="button"
                                    id="{{ section.id }}"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                {{ section.name }}
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="{{ section.id }}">
                                <li><a class="dropdown-item"
                                       href="{{ path('app_section', {'id': section.id }) }}">{{ section.name }}</a></li>
                                {% for child in section.children %}
                                    <li><a class="dropdown-item"
                                           href="{{ path('app_section', {'id': child.id }) }}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <a
                                class="nav-button btn text-white btn-lg"
                                href="{{ path('app_section', {'id': section.id }) }}"
                        >
                            {{ section.name }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</header>
