{% extends 'base.html.twig' %}

{% block title %}{{ parentSections|last.name }}{% endblock %}

{% block body %}
    {% include 'base/header.html.twig' with {header} %}
    <div class="container mt-3">
        <p class="fs-4 text-left pt-0 pb-0 text-uppercase">
            {{ parentSections|last.name }}
        </p>
        <p class="fs-6 text-left pt-0 pb-0">
            <a href="{{ path('app_home') }}" class="text-decoration-none text-dark text-uppercase">
                ГЛАВНАЯ
            </a>
            {% for item in parentSections %}
                /
                <a href="{{ path('app_section', {'id': item.id }) }}" class="text-decoration-none text-dark text-uppercase">
                    {{ item.name }}
                </a>
            {% endfor %}
        </p>
        <div class="wrapper">
            {% for item in products %}
            <div class="photo">
                <a href="{{ path('app_product', {'id': item.id}) }}">
                    <div
                                    class="home-collection-img"
                                    style="background-image: url('{{ asset('upload/pictures/' ~ item.picture) }}');"></div>
                    <div class="photo-text name" data-toggle="tooltip"
                         title="{{ item.name }}">{{ item.name }}</div>
                    <div class="photo-text price" data-toggle="tooltip"
                         title="{{ item.price ~ ' руб.' }}">{{ item.price ~ ' руб.' }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
