{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {% include 'base/header.html.twig' %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <img
                        src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3021080479.jpg"
                        alt=""
                        class="img-product-main">
                <div class="row  justify-content-between mb-5">
                    <div class="col-lg-6">
                        <img
                                src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013538151.jpg"
                                alt=""
                                class="img-product-side"
                                style="transform: rotate(90deg);">
                    </div>
                    <div class="col-lg-6">
                        <img
                                src="https://d2j6dbq0eux0bg.cloudfront.net/images/10796017/3013538151.jpg"
                                alt=""
                                class="img-product-side"
                                style="transform: rotate(-90deg);">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <p class="fs-3 text-left pt-0 pb-0 mt-4 fw-bolder">
                    {{ product.name ~ ', ' ~ product.vendor }}
                </p>
                <p class="fs-6 text-left pt-0 pb-0">
                    <a href="{{ path('app_home') }}" class="text-decoration-none text-dark text-uppercase">
                        ГЛАВНАЯ
                    </a>
                    {% for section in sections %}
                        /
                        <a href="{{ path('app_section', {'id': section.id}) }}"
                           class="text-decoration-none text-dark text-uppercase">
                            {{ section.name }}
                        </a>
                    {% endfor %}
                </p>
                <p class="fs-3 text-left pt-0 pb-0 mt-1 fw-bolder">
                    5 290 ₽
                <p class="fs-6 text-left pt-0 pb-0">
                <p>
                    Pre-order
                </p>
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-outline-dark btn-size bth-check-product rounded-0" for="option1">
                    S
                </label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-outline-dark btn-size bth-check-product rounded-0" for="option2">
                    M-L
                </label>

                <input type="radio" class="btn-check " name="options" id="option3" autocomplete="off">
                <label class="btn btn-outline-dark btn-size bth-check-product rounded-0" for="option3">
                    XL
                </label>
                <br>
                <p class="mt-3">
                    Color
                </p>
                <label>
                    <input type="button"
                           class="btn btn btn-success btn-size bth-check-product rounded-0 btn-color-selector"
                           onclick="Choose_color('color-selector1')" id="color-selector1">
                    <input type="button"
                           class="btn btn btn-danger btn-size bth-check-product rounded-0 btn-color-selector"
                           onclick="Choose_color('color-selector2')" id="color-selector2">
                    <input type="button"
                           class="btn btn btn-warning btn-size bth-check-product rounded-0 btn-color-selector"
                           onclick="Choose_color('color-selector3')" id="color-selector3">
                </label>
                <br>
                <button type="button" class="btn btn-dark btg-bag mt-3 rounded-0 border-0">Add to Bag</button>
                <button class="accordion mt-3">
                    <p class="text-left pt-0 pb-0 m-0">
                        О товаре v
                    </p>
                </button>
                <div class="panel">
                    <p class="text-left pt-0 pb-0 m-0">
                        Предзаказ! Отправки в течение 2-3 недель.
                        Доставка по всему миру
                        Оверсайз крой
                        Ткань: футер петля 380 гр/м²
                        Состав: 80% хлопок / 20% полиэстер
                        Шелкография на груди, кармане и спине
                    </p>
                </div>

                <button class="accordion mt-3">
                    <p class="text-left pt-0 pb-0 m-0">
                        Рекомендации по уходу v
                    </p>
                </button>
                <div class="panel">
                    <p class="text-left pt-0 pb-0 m-0">
                        Ручная или машинная стирка до 30°;
                        Гладить с внутренней стороны на средних температурах с большим количеством пара;
                        Избегать контакта принта с горячими поверхностями;
                        Сушить вдали от прямых солнечных лучей в разложенном виде.
                    </p>
                </div>
            </div>
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }

            function Choose_color(id){
                var elements = document.getElementsByClassName("btn-color-selector");
                for (i = 0; i < elements.length; i++){
                    try{
                        elements[i].classList.remove('btn-color-active');
                    }catch(err){}
                }
                var element_choosed = document.getElementById(id);
                element_choosed.classList.add('btn-color-active');
            }

            var inp = document.querySelector("[type='button']");
            inp.addEventListener('click', Choose_color);
        </script>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
