{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    {% include 'base/header.html.twig' %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="row mt-4" style="height: 65vh">
                    <div role="img" class="img-of-product" style="background-image: url({{ asset('upload/pictures/'~ offerInfo.0.picture) }});"></div>
                </div>
                <div class="row  justify-content-between mb-5">
                    <div class="col-lg-6" style="height: 40vh">
                        <div role="img" class="img-of-product" style="background-image: url({{ asset('upload/pictures/'~ offerInfo.0.picture) }}); transform: rotate(90deg);"></div>
                    </div>
                    <div class="col-lg-6" style="height: 40vh">
                        <div role="img" class="img-of-product" style="background-image: url({{ asset('upload/pictures/'~ offerInfo.0.picture) }}); transform: rotate(-90deg);"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <p class="fs-3 text-left pt-0 pb-0 mt-4 fw-bolder">
                    {{ product.name ~ ', ' ~ product.vendor }}
                </p>
                <p class="fs-6 text-left pt-0 pb-0">
                    <a href="{{ path('app_home') }}" class="text-decoration-none text-dark text-uppercase">
                        ГЛАВНАЯ
                    </a>
                    {% for section in sections %}
                        /
                        <a href="{{ path('app_section', {'id': section.id}) }}"
                           class="text-decoration-none text-dark text-uppercase">
                            {{ section.name }}
                        </a>
                    {% endfor %}
                </p>
                <p class="fs-3 text-left pt-0 pb-0 mt-1 fw-bolder">
                    {{ offerInfo[0].price~' ₽' }}
                <p class="fs-6 text-left pt-0 pb-0">
                <form name="size">
                {% set arrayForCompareSize = [] %}
                {% for offer in offerInfo %}
                    {% if 2 in offer.settings|keys and offer.settings[2].value not in arrayForCompareSize  %}
                    <input type="radio" {% if loop.index is same as(1)%} checked {% endif %} value="{{ offer.settings[2].value }}" class="btn-check" name="options" id="option{{ loop.index }}" autocomplete="off">
                    <label class="btn btn-outline-dark btn-size bth-check-product rounded-0" for="option{{ loop.index }}">
                        {{ offer.settings[2].value }}
                    </label>
                        {% set arrayForCompareSize = arrayForCompareSize|merge([offer.settings[2].value]) %}
                    {% endif %}
                {% endfor %}
                </form>
                <br>
                <p class="mt-3">
                    Расцветки:
                </p>
                <div>
                    <form name="colors">
                    {% set arrayForCompareColors = [] %}
                    {% for offer in offerInfo %}
                        {% if offer.settings[1].value not in arrayForCompareColors %}
                        <div class="input-group">
                            <section class="section">
                                <div class="input-group">
                                    <div class="radio-container">
                                        <input style="display: none" {% if loop.index is same as(1)%} checked {% endif %} value="{{ offer.settings[1].value }}" type="radio" name="options" id="color-{{ loop.index }}">
                                        <label for="color-{{ loop.index }}"><span class="radio">{{ offer.settings[1].value }}</span></label>
                                      </div>
                                </div>
                            </section>
                        </div>
                            {% set arrayForCompareColors = arrayForCompareColors|merge([offer.settings[1].value]) %}
                        {% endif %}
                    {% endfor %}
                    </form>
                </div>
                <br>
                    <a class="btn btn-dark btg-bag mt-3 rounded-0 border-0 text-decoration-none" id="add_to_cart_button" style="color: white" href="" >Добавить в корзину</a>
                <button class="accordion mt-3">
                    <div class="d-flex align-items-center">
                        <p class="text-left pt-0 pb-0 m-0">
                            О товаре
                        </p>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </div>
                    </div>
                </button>
                <div class="panel">
                    <p class="text-left pt-0 pb-0 m-0">
                        Предзаказ! Отправки в течение 2-3 недель.
                        Доставка по всему миру
                    </p>
                </div>

                <button class="accordion mt-3">
                    <div class="d-flex align-items-center">
                        <p class="text-left pt-0 pb-0 m-0">
                            Рекомендации по уходу
                        </p>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </div>
                    </div>
                </button>
                <div class="panel">
                    <p class="text-left pt-0 pb-0 m-0">
                        Ручная или машинная стирка до 30°;
                        Гладить с внутренней стороны на средних температурах с большим количеством пара;
                        Избегать контакта принта с горячими поверхностями;
                        Сушить вдали от прямых солнечных лучей в разложенном виде.
                    </p>
                </div>
            </div>
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
            let cardButton = document.getElementById('add_to_cart_button');
            let initFirstLink = fetch(`{{ path('api_product_to_offer', {'id' : product.id, 'color' : 'formColor', 'size' : 'formSize' }) }}`
                .replace('formColor', document.forms.colors.options.value).replace('formSize', document.forms.size.options ? document.forms.size.options.value : null))
            initFirstLink.then((e)=>{return e.json()}).then((e)=>{cardButton.href = `{{ path('add_to_cart', {id: 'idFormJson'}) }}`
                .replace('idFormJson', e.id); console.log(e)});

          if( document.forms.size.options )  { document.forms.size.options.forEach(x => x.addEventListener('change',(e) => {
                if(x.checked){
                    let changedLink = fetch(`{{ path('api_product_to_offer', {'id' : product.id, 'color' : 'formColor', 'size' : 'formSize' }) }}`
                        .replace('formColor', document.forms.colors.options.value).replace('formSize',document.forms.size.options ? document.forms.size.options.value : null))
                    changedLink.then((e)=>{return e.json()}).then((e)=>{cardButton.href = `{{ path('add_to_cart', {id: 'idFormJson'}) }}`
                        .replace('idFormJson', e.id)});
                }
            } )) }

            document.forms.colors.options.forEach(x => x.addEventListener('change',(e) => {
                if(x.checked){
                    let changedLink = fetch(`{{ path('api_product_to_offer', {'id' : product.id, 'color' : 'formColor', 'size' : 'formSize' }) }}`
                        .replace('formColor', document.forms.colors.options.value).replace('formSize',document.forms.size.options ? document.forms.size.options.value : null))
                    changedLink.then((e)=>{return e.json()}).then((e)=>{cardButton.href = `{{ path('add_to_cart', {id: 'idFormJson'}) }}`
                        .replace('idFormJson', e.id)});
                }
            } ))


        </script>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
